html, body{
    min-height:100%;
}

body{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator-container{
    width: 300px;
    height: 500px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: solid;
    background-color: rgb(220, 216, 216);
}

.display-container{
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: solid;
    background-color: white;
    gap: 5px;
    margin-bottom: 10px;
}

.upper-display{
    font-size: 20px;
    height: 30px;
}

.lower-display{
    font-size: 36px;
    font-weight: bold;
    flex: 1 1 auto;
}

.clear-delete-container{
    display: flex;
    gap: 4px;
}

.clear-delete-container{
    display: flex;
    flex: 1.5 1 0;
    margin-bottom: 4px;
}

.number-operator-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 8 1 0;
}

.number-operator-row{
    display: flex;
    gap: 4px;
    flex: 1 1 0;
}

.wide-button{
    flex: 1 1 0;
    color: black;
    font-weight: bold;
    background-color: rgba(240, 12, 92, 0.913);
    border-radius: 5%;
}

.normal-button{
    flex: 1 1 0;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 5%;
    font-size: 20px;
}

.operator-button{
    background-color: orange;
}

.numeric-button{
    background-color: green;
}

.dot-button, .equals-button{
    background-color: rgb(106, 106, 225);
}

/* FOOTER */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }
  
  .fa-github {
    color: var(--font);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }
  
  img{
      width: 20px;
      height: 20px;
  }